/* src/pages/AdminLogin.css */
.admin-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    min-width: 100vw;
  }
  
  .admin-login input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }
  
  .admin-login button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3e2723;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  /* .admin-dashboard {
    padding: 40px 20px;
    background-color: #5d4037;
    color: #fff;
    min-width: 100vw;
  }
  
  .admin-dashboard h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .admin-dashboard table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .admin-dashboard table th,
  .admin-dashboard table td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
  }
  
  .admin-dashboard table th {
    background-color: #4e342e;
  }
  
  .admin-dashboard table tr:nth-child(even) {
    background-color: #6d4c41;
  }
  
  .admin-dashboard table tr:nth-child(odd) {
    background-color: #5d4037;
  }
  
  .admin-dashboard button {
    padding: 5px 10px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
   */