/* src/pages/Blog.css */
.blog {
  padding: 40px 20px;
  text-align: center;
  color: #fff;
  background-color: #f5f2f1;
  min-height: 100vh;
  min-width: 100vw;
}

.blog .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensures the container spans the full width */
  min-height: 10vh;
  max-height: 60vh; 
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  margin-right: 0;
}

.blog h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: black;
}

.blog p {
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 1000px; /* Ensure text is readable and doesn't span the full width */
}

.blog .post {
  background-color: #4e342e;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  width: 100%;
  max-width: 800px;
  text-align: left;
}

.blog .post h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.blog .post p {
  font-size: 1em;
}

  